{% extends 'core/base.html' %}

{% block content %}

<h1>Dobrodošli na Picstream - Vaš osobni centar za dijeljenje slika!</h1>

<p class="homepar">Picstream je najbolje odredište za dijeljenje i otkrivanje nevjerojatnih slika od korisnika diljem svijeta. Bilo da snimate zadivljujuće pejzaže, trenutke s prijateljima ili umjetničke fotografije, Picstream je savršeno mjesto za predstavljanje vašeg rada i uživanje u kreativnosti drugih.</p>

<div class="service">
    <h2>Naše značajke:</h2>
    <div class="service-element">
        <strong>Uploadajte i dijelite svoje fotografije:</strong> Lako učitajte i podijelite svoje omiljene slike s Picstream zajednicom. Bilo da je riječ o umjetničkoj fotografiji ili posebnom sjećanju, možete ih podijeliti u samo nekoliko klikova.
    </div>
    <div class="service-element">
        <strong>Istražujte i otkrivajte nove slike:</strong> Pregledajte raznoliku kolekciju slika od drugih korisnika, od svakodnevnih trenutaka do profesionalne fotografije. Budite inspirirani i povežite se s drugima.
    </div>
    <div class="service-element">
        <strong>Lajkajte i komentirajte objave:</strong> Interagirajte s omiljenim objavama lajkanjem i komentiranjem. Izgradite zajednicu oko zajedničkih interesa i estetike.
    </div>
</div>

<div class="why-choose">
    <h2>Zašto odabrati Picstream?</h2>
    <div class="why-choose-element">
        S Picstreamom postajete dio zajednice gdje su kreativnost i inspiracija u prvom planu. Bilo da ste profesionalac ili samo uživate u hvatanju svakodnevnih trenutaka, ovdje ima nešto za svakoga.
    </div>
    <div class="why-choose-element">
        Naša platforma je dizajnirana da bude jednostavna, omogućujući vam da se usredotočite na dijeljenje i otkrivanje nevjerojatnog sadržaja, s korisničkim sučeljem koje olakšava povezivanje s drugima.
    </div>
    <div class="why-choose-element">
        Picstream nije samo o slikama; riječ je o povezivanju. Pridružite nam se danas i počnite dijeliti svoj svijet, jednu sliku po jednu.
    </div>
</div>

<hr>
<div class="finish">
    <strong>Pridružite se Picstreamu danas i pretvorite svoje svakodnevne trenutke u trajna sjećanja.</strong>
</div>

<a href="" class="upload-button">Objavi svoju prvu sliku</a>

{% endblock content %}
